// @import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
// $main-font: "Anton", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
$main-font: "Righteous", cursive;

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
$main-chinese: "Noto Sans TC", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// 共用區
.all-a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 60px;
    transition: 1s;

    &:hover {
        background-color: white;
        color: black;
        border: 2px black solid;
    }
}
h1 {
    font-size: 30px;
    font-family: $main-font;
    font-family: $main-chinese;
    text-align: center;
}
.slick-next {
    transform: translateX(-30px);
}
.slick-prev {
    transform: translateX(30px);
    z-index: 2;
}

// banner
.banner {
    position: relative;
    width: 100%;
    overflow: hidden;
    // height: 100vh;

    .banner-video {
        // position: absolute;
        video {
            width: 100%;
            // height: 100%;
        }
    }
    .banner-text {
        position: absolute;
        z-index: 5;
        text-align: center;
        top: 40%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        h3 {
            color: white;
            font-family: $main-font;
            font-size: 80px;
            text-shadow: 0 0 10px #3399ff, 0 0 10px #3399ff, 0 0 10px #3399ff;
            // 小於等於
            @media screen and (max-width: 1180px) {
                font-size: 60px;
            }
            @media screen and (max-width: 867px) {
                font-size: 40px;
            }
            @media screen and (max-width: 570px) {
                font-size: 30px;
            }
        }
        p {
            color: white;
            font-family: $main-chinese;
            font-size: 50px;
            text-shadow: 0 0 10px #bd70b9, 0 0 10px #814a7f, 0 0 10px #3399ff;
            // 小於等於
            @media screen and (max-width: 1180px) {
                font-size: 40px;
            }
            @media screen and (max-width: 867px) {
                font-size: 30px;
            }
            @media screen and (max-width: 570px) {
                font-size: 20px;
            }
        }
    }
}

// 上方nav
.title {
    display: flex;
    // margin: 0 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    // 黏住nav
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 10;
    overflow: hidden;
}
.logo {
    font-size: 30px;
    font-family: $main-font;
    a {
        color: black;
        text-decoration: none;
    }
}
nav {
    a {
        color: black;
        font-size: 24px;
        font-family: $main-font;
        padding: 0 10px;
        text-decoration: none;
    }
}

// 特羅姆瑟
section {
    // height: 100%;
    overflow: hidden;
    h1 {
        text-align: center;
        font-family: $main-font;
        font-size: 30px;
    }
    .views {
        display: flex;
        justify-content: center;
        // 小於等於
        @media screen and (max-width: 1200px) {
            flex-wrap: wrap;
        }
    }
    .views-box {
        width: 350px;
        height: 800px;
        margin: 0 30px;
        font-family: $main-chinese;
        text-align: center;
        img {
            width: 350px;
            height: 400px;
            object-fit: cover;
        }
        p {
            margin-bottom: 20px;
            text-align: left;
        }
    }
}

// 固定圖片區域
.flexed {
    width: 100%;
    height: 300px;
    background-image: url(./img/michael-fousert-lE5-z4nTCTQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // 固定圖片
    background-attachment: fixed;
    // transform: rotate(-2deg);
    span {
        display: block;
        text-align: center;
        color: white;
        font-size: 40px;
        padding: 120px 0;
        backdrop-filter: blur(5px) opacity(60%);
        letter-spacing: 10px;
        padding-left: 10px;
        font-weight: 100;
        // 小於等於
        @media screen and (max-width: 1160px) {
            font-size: 30px;
        }
        @media screen and (max-width: 930px) {
            font-size: 20px;
        }
        @media screen and (max-width: 730px) {
            font-size: 16px;
        }
        &:hover {
            backdrop-filter: blur(5px) opacity(10%);
        }
    }
}

// 活動
.activity {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: center;
    overflow: hidden;
    @media screen and (max-width: 1000px) {
        flex-wrap: wrap;
    }

    .activity-box {
        width: 350px;
        margin: 0 30px;
        @media screen and (max-width: 460px) {
            width: 420px;
        }
        .activity-img {
            img {
                width: 350px;
                height: 400px;
                object-fit: cover;
                @media screen and (max-width: 460px) {
                    width: 100%;
                }
            }
        }
        h2 {
            font-family: $main-chinese;
            padding: 0 20px;
        }
        p {
            font-family: $main-chinese;
            padding: 0 20px;
        }
    }
}
// 更多照片
.more-img {
    text-align: center;
    img {
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}
footer {
    background-color: black;
    padding: 50px 0;
    display: flex;
    justify-content: center;

    p {
        font-family: $main-font;
        color: white;
    }
}

// 關於
// 第二頁中間content部分
.box {
    width: 100%;
    height: 300px;
    background: #000;
    background: linear-gradient(190deg, #557777 50%, transparent 50%);
    /*   transform: rotate(
  -7deg
  ); */
}
.offOn {
    display: none;
    transition: all 2s;
}
.onOff {
    display: block;
}
.box3 {
    width: 100%;
    height: 300px;
    background: blue;
    /*   transform: rotate(
  -7deg
  ); */
    background: linear-gradient(10deg, #557777 50%, transparent 50%);
}

.about-content {
    padding: 0 20px;
    margin-bottom: 20px;
    h1 {
        font-family: $main-chinese;
    }
    .about-text {
        display: flex;
        // 小於等於
        @media screen and (max-width: 1000px) {
            flex-wrap: wrap;
        }

        P {
            padding: 0 30px;
            font-family: $main-chinese;
        }
        img {
            object-fit: cover; 
            // 小於等於
            @media screen and (max-width: 1000px) {
                width: 100%;
                margin: 0 auto;
            }
        }
    }
}

// 觀光人口統計
.NumberPeople {
    width: 100%;
    height: 100%;
    // background-color: cadetblue;
    background: linear-gradient(120deg, #a0c4ff 50%, transparent 50%);
    display: flex;
    justify-content: center;

    // 小於等於
    @media screen and (max-width: 1000px) {
        background: #ffffff;
        flex-wrap: wrap;
    }
    .statistics {
        width: 600px;
        // height: 600px;
        padding-top: 150px;
        // border: black 1px solid;
        display: flex;
        @media screen and (max-width: 1000px) {
            width: 100%;
            background: #a0c4ff;
            padding: 20px 0;
            justify-content: center;
            
        }
        h2 {
            color: white;
        }
        .statistics-content {
            // 這邊是用來置中圖表用的flex
        }
        span {
            color: white;
            font-size: 24px;
            display: block;
        }
        .progress {
            width: 400px;
            height: 20px;
            // border: black 1px solid;
            border-radius: 3px;
            box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
            background-color: rgba(#fafafa, 0.45);
        }
        .progress-bar {
            width: 1px;
            height: 20px;
            text-align: center;
            color: white;
            font-size: 12px;
            background-color: #e26789;
            box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
            transition: width 1s ease;
        }
    }
    .introduction {
        width: 600px;
        // height: 600px;
        // border: black 1px solid;
        padding-top: 150px;
        @media screen and (max-width: 1000px) {
            padding: 0;
            
        }
        p {
            margin: 0 auto;
            width: 400px;
            font-family: $main-chinese;
        }
        h2 {
            text-align: center;
        }
        ol {
            width: 400px;
            margin: 0 auto;
            font-family: $main-chinese;
        }
    }
}
