@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
$main-font: "Anton", sans-serif;
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@500&display=swap");
$main-chinese: "Noto Sans TC", sans-serif;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
// 上方nav
.title {
    display: flex;
    // margin: 0 20px;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    background-color: white;
    z-index: 5;
}
.logo {
    font-size: 30px;
    font-family: $main-font;
    a {
        color: black;
        text-decoration: none;
    }
}
nav {
    a {
        color: black;
        font-size: 24px;
        font-family: $main-font;
        padding: 0 10px;
        text-decoration: none;
    }
}
// banner
.banner {
    position: relative;
    height: 100vh;

    img {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: -1;
    }
    .banner-text {
        position: absolute;
        z-index: 5;
        text-align: center;
        top: 50%;
        transform: translateY(-50%);
        left: 50%;
        transform: translateX(-50%);
        h3 {
            color: white;
            font-family: $main-font;
            font-size: 80px;
            text-shadow: 0 0 10px #3399ff, 0 0 10px #3399ff, 0 0 10px #3399ff;
        }
        p {
            color: white;
            font-family: $main-chinese;
            font-size: 50px;
            text-shadow: 0 0 10px #bd70b9, 0 0 10px #814a7f, 0 0 10px #3399ff;
        }
    }
}

// 特羅姆瑟
section {
    // height: 100%;
    h1 {
        text-align: center;
        font-family: $main-font;
        font-size: 30px;
    }
    .views {
        display: flex;
        justify-content: center;
    }
    .views-box {
        width: 350px;
        height: 800px;
        margin: 0 30px;
        font-family: $main-chinese;
        text-align: center;
        img {
            width: 350px;
            height: 500px;
            object-fit: cover;
        }
        p{
            margin-bottom: 20px;
        }
        
    }
}


// 固定圖片區域
.flexed {
    width: 100%;
    height: 300px;
    background-image: url(./img/michael-fousert-lE5-z4nTCTQ-unsplash.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    // 固定圖片
    background-attachment: fixed;
}

// 活動
.activity {
    width: 100%;
    display: flex;
    margin: 20px 0;
    justify-content: center;

    .activity-box {
        width: 450px;
        margin: 0 30px;
        .activity-img {
            img {
                width: 450px;
                height: 500px;
                object-fit: cover;
            }
        }
        h2{
            font-family: $main-chinese;
            padding: 0 20px;
        }
        p{
            font-family: $main-chinese;
            padding: 0 20px;
        }
        
    }
}
// 更多照片
.more-img{
    text-align: center;
    img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }
}
footer{
    background-color: black;
    padding: 50px 0;
    display: flex;
    justify-content: center;
    
    p{
        color: white;
    }
}

// 共用區
.all-a {
    text-decoration: none;
    color: white;
    background-color: black;
    padding: 10px 60px;
    transition: 1s;

    &:hover {
        background-color: white;
        color: black;
        border: 2px black solid;
    }
}
h1{
    font-size: 30px;
    font-family: $main-font;
    text-align: center;
}
.slick-next{
    transform:translateX(-30px) ;
}
.slick-prev{
    transform:translateX(30px) ;
    z-index: 2;
}